<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <connectionStrings>
    <!--<add name="ERETAILDB" connectionString="SERVER=srg2server;DATABASE=eretailtest;UID=root;PASSWORD=pass@srg2mysql;charset=utf8;" providerName="MySql.Data.MySqlClient" />-->
  <!--<add name="ERETAILDB" connectionString="SERVER=aagfp335vjcevp.c2qacyvnhvmy.ap-southeast-1.rds.amazonaws.com;DATABASE=eretail;UID=lukpik;PASSWORD=lukpik123;charset=utf8;" providerName="MySql.Data.MySqlClient" />-->
    
    <!--Test-->
    <add name="ERETAILDB" connectionString="SERVER=test.ctrk04mnzy51.ap-southeast-1.rds.amazonaws.com;DATABASE=eretailtest;UID=lukpik;PASSWORD=lukpik123;charset=utf8;" providerName="MySql.Data.MySqlClient" />
    
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.22.0" newVersion="4.2.22.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="157286400" />
      </requestFiltering>
    </security>
    <staticContent>
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>
  </system.webServer>
  <system.net>
    <mailSettings>
      <smtp from="support@lukpik.com">
        <network host="smtp.gmail.com" password="lukpik123" port="587" userName="support@lukpik.com"/>
      </smtp>
    </mailSettings>
  </system.net>
  <appSettings>
    <add key="DocumentPath" value="D:\Files\" />
    <add key="RootPath" value="D:\Lukpik_Files\LukpikHTML\GHubSync\Lukpik\StoreImages\" />
    <!--<add key="RootPath" value="C:\inetpub\wwwroot\Lukpik_deploy\StoreImages\" />-->

    <add key="SMSTYPE_USERNAME" value="trlukpik" />
    <add key="SMSTYPE_PASSWORD" value="DkNIVI" />
    <add key="SMSTYPE_SENDERID" value="LUKPIK" />
    
    <add key="LoginRedirect" value="http://www.lukpik.com/login.html" />
    <add key="Email" value="support@lukpik.com" />
  </appSettings>
</configuration>